# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.log
data_cache.json


# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env
.DS_Store

# IDE
.vscode/
.idea/
